@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --botaoativo: rgba(156, 108, 233, 0.92);
    --botaoinativo: rgba(156, 108, 233);
    --texto: rgba(255, 87, 160, 1);
    --cordefundo: rgba(0, 113, 126, 0.24);
    --números: rgba(255, 255, 60, 1);
    --letras: rgba(255, 255, 255, 1);
    --branco: #FFFFFF;
}
body{
    background-color: var(--cordefundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    }
    .titulo-principal{
        text-align: left;
        width: 100%;
        font-size: 32px;
    }
    .titulo-principal span{
        color: var(--texto)
    }

    .botao{
        font-family: 'Shakra Petch', Sans-Serif;
        background-color: var(--texto);
        color: var(--branco);
        display: flex;
        justify-content: center;
        padding: 1em;
        font-size: 18px;
        align-items: center;
        width: 100%;
        border-bottom: 4px solid var(--botaoativo);
        border-right: 2px solid var(--botaoativo);
        border-top: none;
    }
    .botao:first-child{
        border-radius: 40px 0 0 0;
    }
    .botoes{
        display:block;
    }
    .ativo{
        background-color: var(--botaoativo);
        border-bottom: 4px solid var(--botaoativo);
    }
    @media screen and (min-width: 768px){
        .botoes{
            display: flex;
        }
        .botao:first-child{
            border-radius: 40px 0 0 0;
        }
        .botao:last-child{
            border-radius: 0 40px 0 0;
        }
        
    }
