@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700&display=swap');

:root{
    --botaoativo: rgba(156, 108, 233, 0.92);
    --botaoinativo: rgba(156, 108, 233, 0.62);
    --texto: rgba(255, 87, 160, 1);
    --cordefundo: rgba(11, 173, 190, 0.24);
    --números: rgba(255, 255, 60, 1);
    --letras: rgba(255, 255, 255, 1);
    --branco: #FFFFFF;
}
body{
    background-color: var(--cordefundo);
    color: var(--branco);
    font-family: 'Chakra Petch', 'Sans-Serif';
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    }
    .titulo-principal{
        text-align: left;
        width: 100%;
        font-size: 32px;
    }
    .titulo-principal span{
        color: var(--texto)
    }

    .botao{
        font-family: 'Shakra Petch', Sans-Serif;
        background-color: var(--botao-inativo);
        color: var(--branco);
    }